.select-box {
  @include inline-block;
  position: relative;
  padding: 1px 0;
  border: 1px solid $light-gray;
  background-color: $pale-gray;
  select {
    z-index: 10;
    position: relative;
    border: none;
    background: transparent;
    outline: none;
    padding: 4px 12px 4px 32px;
    opacity: 0;
    -webkit-appearance: none;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100%;
  }
  .select-arrow, .select-text {
    @include inline-block;
    position: absolute;
    top: 1px;
    color: $dark-gray;
    background: transparent;
    z-index: 9;
  }
  .select-text {
    left: 10px;
  }
  .select-arrow {
    right: 10px;
  }
}