h1 {
  font-size: ms(4);
  line-height: ms(4) * 1.05;
}

h2 {
  font-size: ms(3);
  line-height: ms(3) * 1.4;
}

h3 {
  font-size: ms(2);
  line-height: ms(2) * 1.5;
}

h4, h5, h6 {
  font-size: ms(1);
  line-height: ms(1) * 1.6;
}

h5, h6 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}