.list-inline {
  li {
    @include inline-block;
    float: left;
    margin: 0 $margin 0 0;
    &:after {
      content: "\2022";
      margin-left: $margin;
    }
    &:last-child {
      margin: 0;
      &:after {
        content: "";
        margin: 0;
      }
    }
    a {
      border: none;
    }
  }
}

.article-content {
  ul {
    padding-left: $margin;
    li {
      list-style: disc;
      margin-left: $margin;
      li {
        list-style: circle;
        li {
          list-style: square;
        }
      }
    }
  }
  ol {
    padding-left: $margin;
    li {
      list-style: decimal;
      margin-left: $margin;
      li {
        list-style: upper-roman;
        li {
          list-style: lower-roman;
        }
      }
    }
  }
}

.list-view {
  .post {
    @extend %cf;
    @extend %double-gray-border-top;
    margin: (3 * $margin) 0;
    padding-top: 3 * $margin;
    &:first-of-type {
      border: none;
      margin-top: 0;
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}