.list-inline {
  li {
    @include inline-block;
    float: left;
    margin: 0 $margin 0 0;
    &:after {
      content: "\2022";
      margin-left: $margin;
    }
    &:last-child {
      margin: 0;
      &:after {
        content: "";
        margin: 0;
      }
    }
  }
}

.article-content {
  ul {
    padding-left: $margin;
    li {
      list-style: disc;
      margin-left: $margin;
      li {
        list-style: circle;
        li {
          list-style: square;
        }
      }
    }
  }
  ol {
    padding-left: $margin;
    li {
      list-style: decimal;
      margin-left: $margin;
      li {
        list-style: upper-roman;
        li {
          list-style: lower-roman;
        }
      }
    }
  }
}