@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Vollkorn:400);
/* Install Compass, SingularityGS and Modular Scale  gem install compass gem install singularitygs gem install modular-scale  SingularityGS - http://vimeo.com/63509346  File name convention: _noun-adjective.scss  */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Breakpoints */
/* Layout */
/* Typography */
/* Colors */
/* line 2, ../scss/01_utilities/_base.scss */
html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 7, ../scss/01_utilities/_base.scss */
body { line-height: 24px; font-size: 16px; font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 12, ../scss/01_utilities/_grid.scss */
.container { min-height: 100%; margin: 0 auto; }
@media (min-width: 48em) { /* line 12, ../scss/01_utilities/_grid.scss */
  .container { width: 99%; margin: 0; } }

/* line 1, ../scss/01_utilities/_clearfix.scss */
.container, .clearfix, .footer--document, .sidebar--primary, dl, .list-view .post, .content--article { *zoom: 1; }
/* line 3, ../scss/01_utilities/_clearfix.scss */
.container:before, .clearfix:before, .footer--document:before, .sidebar--primary:before, dl:before, .list-view .post:before, .content--article:before, .container:after, .clearfix:after, .footer--document:after, .sidebar--primary:after, dl:after, .list-view .post:after, .content--article:after { content: " "; display: table; }
/* line 7, ../scss/01_utilities/_clearfix.scss */
.container:after, .clearfix:after, .footer--document:after, .sidebar--primary:after, dl:after, .list-view .post:after, .content--article:after { clear: both; }

/* line 1, ../scss/02_atoms/_blockquote.scss */
blockquote { width: 96%; padding: 20px; margin: 40px auto; background: #eaeaea; font-size: 18.4px; font-style: italic; line-height: 1.5; }

/* line 1, ../scss/02_atoms/_borders.scss */
.footer--document, .sidebar--primary, .list-view .post { border-top: 3px double #eaeaea; }

/* line 5, ../scss/02_atoms/_borders.scss */
.footer--article { border-top: 1px solid #eaeaea; }

/* line 9, ../scss/02_atoms/_borders.scss */
a, .widget-title, .header--article { border-bottom: 1px dotted #eaeaea; }

/* line 1, ../scss/02_atoms/_column-main.scss */
.main { width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
/* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.main:before, .main:after { content: "."; display: block; height: 0; overflow: hidden; }
/* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.main:after { clear: both; }
@media (min-width: 48em) { /* line 1, ../scss/02_atoms/_column-main.scss */
  .main { width: 66.03774%; float: right; margin-left: 0; margin-right: 0; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:before, .main:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:after { clear: both; } }
@media (min-width: 67.5em) { /* line 1, ../scss/02_atoms/_column-main.scss */
  .main { width: 74.64789%; float: right; margin-left: 0; margin-right: 0; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:before, .main:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:after { clear: both; } }
@media (min-width: 80em) { /* line 1, ../scss/02_atoms/_column-main.scss */
  .main { width: 59.55056%; float: left; margin-right: -100%; margin-left: 20.22472%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:before, .main:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:after { clear: both; } }
@media (min-width: 93.75em) { /* line 1, ../scss/02_atoms/_column-main.scss */
  .main { width: 49.53271%; float: left; margin-right: -100%; margin-left: 22.42991%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:before, .main:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .main:after { clear: both; } }

/* line 1, ../scss/02_atoms/_column-sidebar.scss */
.footer--document, .sidebar--primary { padding: 30px 0; float: left; clear: left; width: 100%; }

/* line 1, ../scss/02_atoms/_definition-list.scss */
dl { width: 100%; }
/* line 4, ../scss/02_atoms/_definition-list.scss */
dl dt, dl dd { display: block; float: left; border-top: 1px solid #aaaaaa; }
/* line 8, ../scss/02_atoms/_definition-list.scss */
dl dt:first-child, dl dd:first-child { border: none; }
/* line 12, ../scss/02_atoms/_definition-list.scss */
dl dt { width: 30%; font-weight: 600; text-align: right; padding-right: 2%; }
/* line 18, ../scss/02_atoms/_definition-list.scss */
dl dd { width: 68%; }

/* line 1, ../scss/02_atoms/_headings.scss */
h1 { font-size: 61px; line-height: 64.05px; margin: 38px 0; }

/* line 7, ../scss/02_atoms/_headings.scss */
h2 { font-size: 39px; line-height: 54.6px; margin: 25px 0; }

/* line 13, ../scss/02_atoms/_headings.scss */
h3 { font-size: 25px; line-height: 37.5px; margin: 15px 0; }

/* line 19, ../scss/02_atoms/_headings.scss */
h4 { font-size: 20px; line-height: 32px; margin: 10px 0; }

/* line 25, ../scss/02_atoms/_headings.scss */
h5, h6 { font-size: 16px; line-height: 28.8px; text-transform: uppercase; margin: 12px 0; }

/* line 32, ../scss/02_atoms/_headings.scss */
h1, h2, h3, h4, h5, h6 { -ms-word-wrap: break-word; word-wrap: break-word; font-family: "Vollkorn", "Georgia", Cambria, Times New Roman, Times, serif; font-weight: 400; }
/* line 37, ../scss/02_atoms/_headings.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

/* line 47, ../scss/02_atoms/_headings.scss */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }

/* line 2, ../scss/02_atoms/_images-figures.scss */
img.aligncenter, figure.aligncenter { display: block; margin: 0 auto; }
/* line 6, ../scss/02_atoms/_images-figures.scss */
img.alignleft, figure.alignleft { float: left; margin: 0 10px 0 0; }
/* line 10, ../scss/02_atoms/_images-figures.scss */
img.alignright, figure.alignright { float: right; margin: 0 0 0 10px; }
/* line 14, ../scss/02_atoms/_images-figures.scss */
img.alignnone, figure.alignnone { max-width: 100%; height: auto; }

/* line 21, ../scss/02_atoms/_images-figures.scss */
figure.thumbnail { border: 1px solid #cccccc; background: #eaeaea; padding: 2.5px; }
/* line 26, ../scss/02_atoms/_images-figures.scss */
figure img { max-width: 100%; height: auto; }
/* line 30, ../scss/02_atoms/_images-figures.scss */
figure figcaption { font-style: italic; text-align: center; font-size: 13.6px; }

/* line 1, ../scss/02_atoms/_links.scss */
a { color: black; -ms-word-wrap: break-word; word-wrap: break-word; text-decoration: none; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited { color: black; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus { color: black; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover { color: black; }
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active { color: black; }

/* line 10, ../scss/02_atoms/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: black; border: none; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: black; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus { color: black; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: black; }
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active { color: black; }

/* line 16, ../scss/02_atoms/_links.scss */
.logo { color: #c4c4c4; display: block; border-bottom: 1px solid #c4c4c4; padding: 10px 0 2.5px; margin-bottom: 40px; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.logo:visited { color: #c4c4c4; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.logo:focus { color: #c4c4c4; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.logo:hover { color: #c4c4c4; }
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.logo:active { color: #c4c4c4; }

/* line 25, ../scss/02_atoms/_links.scss */
.readmore { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; margin: 0 0 0 20px; }

/* line 2, ../scss/02_atoms/_lists.scss */
.list-inline li, .nav--footer li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; float: left; margin: 0 10px 0 0; }
/* line 6, ../scss/02_atoms/_lists.scss */
.list-inline li:after, .nav--footer li:after { content: "\2022"; margin-left: 10px; }
/* line 10, ../scss/02_atoms/_lists.scss */
.list-inline li:last-child, .nav--footer li:last-child { margin: 0; }
/* line 12, ../scss/02_atoms/_lists.scss */
.list-inline li:last-child:after, .nav--footer li:last-child:after { content: ""; margin: 0; }
/* line 17, ../scss/02_atoms/_lists.scss */
.list-inline li a, .nav--footer li a { border: none; }

/* line 24, ../scss/02_atoms/_lists.scss */
.list-view .post { margin: 30px 0; margin: 30px 0; padding-top: 30px; }
/* line 3, ../scss/01_utilities/_mixins.scss */
.list-view .post:first-child { margin-top: 0; }
/* line 6, ../scss/01_utilities/_mixins.scss */
.list-view .post:last-child, .list-view .post:last-of-type { margin-bottom: 0; }
/* line 30, ../scss/02_atoms/_lists.scss */
.list-view .post:first-of-type { border: none; margin-top: 0; padding-top: 0; }
/* line 35, ../scss/02_atoms/_lists.scss */
.list-view .post:last-child { margin-bottom: 0; }
/* line 38, ../scss/02_atoms/_lists.scss */
.list-view .post h2 { margin-bottom: 10px; }

/* line 1, ../scss/02_atoms/_margins.scss */
.comments--article, .footer--article { margin-bottom: 80px; }

/* line 5, ../scss/02_atoms/_margins.scss */
.widget, .content--article { margin-bottom: 40px; }

/* line 9, ../scss/02_atoms/_margins.scss */
.header--article { margin-bottom: 20px; }

/* line 1, ../scss/02_atoms/_paragraphs.scss */
strong { font-weight: 600; }

/* line 5, ../scss/02_atoms/_paragraphs.scss */
em { font-style: italic; }

/* line 9, ../scss/02_atoms/_paragraphs.scss */
abbr { border-bottom: 1px dotted #eaeaea; }

/* line 13, ../scss/02_atoms/_paragraphs.scss */
cite, q { font-style: italic; }

/* line 17, ../scss/02_atoms/_paragraphs.scss */
code, kbd, pre, var { font-family: Monaco, "Andale Mono", "Courier New", monospace; background-color: #eaeaea; font-size: 13.6px; padding: 1px 3px; }

/* line 24, ../scss/02_atoms/_paragraphs.scss */
pre { width: 100%; overflow-x: scroll; }

/* line 29, ../scss/02_atoms/_paragraphs.scss */
strike { text-decoration: line-through; }

/* line 33, ../scss/02_atoms/_paragraphs.scss */
sub { vertical-align: sub; font-size: 12px; }

/* line 38, ../scss/02_atoms/_paragraphs.scss */
sup { vertical-align: super; font-size: 12px; }

/* line 43, ../scss/02_atoms/_paragraphs.scss */
ins { background: yellow; font-size: 13.6px; padding: 1px 3px; text-decoration: none; }

/* line 50, ../scss/02_atoms/_paragraphs.scss */
p { margin: 10px 0; }
/* line 52, ../scss/02_atoms/_paragraphs.scss */
p:first-child { margin-top: 0; }
/* line 55, ../scss/02_atoms/_paragraphs.scss */
p:last-child { margin-bottom: 0; }

/* line 61, ../scss/02_atoms/_paragraphs.scss */
.article-excerpt p { white-space: pre-wrap; }

/* line 1, ../scss/02_atoms/_sections.scss */
.meta { width: 100%; margin: 0 0 10px; }

/* line 1, ../scss/02_atoms/_tables.scss */
table { display: table; border-collapse: collapse; border-spacing: 0; margin-bottom: 20px; width: 100%; border: 1px solid #4d4d4d; }
/* line 9, ../scss/02_atoms/_tables.scss */
table caption { text-align: center; font-size: 18.4px; padding: .75em; }
/* line 17, ../scss/02_atoms/_tables.scss */
table thead th, table tbody td, table tr td { display: table-cell; padding: 10px; vertical-align: top; text-align: left; border: 1px solid #4d4d4d; }
/* line 25, ../scss/02_atoms/_tables.scss */
table tr td, table tbody tr td { font-size: 16px; }
/* line 29, ../scss/02_atoms/_tables.scss */
table thead { background-color: #aaaaaa; color: #4d4d4d; }
/* line 33, ../scss/02_atoms/_tables.scss */
table thead tr th { font-size: 18.4px; font-weight: bold; vertical-align: bottom; }
/* line 42, ../scss/02_atoms/_tables.scss */
table tr:nth-of-type(even), table table tr.stripe, table table tr.striped { background-color: #eaeaea; }

@media (min-width: 37.5em) { /* line 1, ../scss/02_atoms/_widgets.scss */
  .widget { width: 47.5%; margin-right: 5%; float: left; }
  /* line 8, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(even) { margin-right: 0; }
  /* line 11, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(odd) { clear: left; } }
@media (min-width: 67.5em) { /* line 1, ../scss/02_atoms/_widgets.scss */
  .widget { width: 30%; margin-right: 5%; float: left; }
  /* line 20, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(even) { margin-right: 5%; }
  /* line 23, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(odd) { clear: none; }
  /* line 26, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(3n + 3) { margin-right: 0; }
  /* line 29, ../scss/02_atoms/_widgets.scss */
  .widget:nth-child(3n + 1) { clear: left; } }

/* line 5, ../scss/03_molecules/_comments-article.scss */
.nocomments { display: none; }

/* line 5, ../scss/03_molecules/_content-article.scss */
.content--article ul { padding-left: 10px; }
/* line 7, ../scss/03_molecules/_content-article.scss */
.content--article ul li { list-style: disc; margin-left: 10px; }
/* line 10, ../scss/03_molecules/_content-article.scss */
.content--article ul li li { list-style: circle; }
/* line 12, ../scss/03_molecules/_content-article.scss */
.content--article ul li li li { list-style: square; }
/* line 18, ../scss/03_molecules/_content-article.scss */
.content--article ol { padding-left: 10px; }
/* line 20, ../scss/03_molecules/_content-article.scss */
.content--article ol li { list-style: decimal; margin-left: 10px; }
/* line 23, ../scss/03_molecules/_content-article.scss */
.content--article ol li li { list-style: upper-roman; }
/* line 25, ../scss/03_molecules/_content-article.scss */
.content--article ol li li li { list-style: lower-roman; }

/* line 1, ../scss/03_molecules/_footer-article.scss */
.footer--article { padding-top: 10px; }

/* line 4, ../scss/03_molecules/_header-article.scss */
.header--article h1 { margin-bottom: 10px; }
/* line 7, ../scss/03_molecules/_header-article.scss */
.header--article a { border: none; }

/* line 1, ../scss/03_molecules/_header-document.scss */
.header--document { background-color: #f3b562; width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
/* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.header--document:before, .header--document:after { content: "."; display: block; height: 0; overflow: hidden; }
/* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.header--document:after { clear: both; }
@media (min-width: 48em) { /* line 1, ../scss/03_molecules/_header-document.scss */
  .header--document { width: 32.07547%; float: left; margin-right: -100%; margin-left: 0%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:before, .header--document:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:after { clear: both; } }
@media (min-width: 67.5em) { /* line 1, ../scss/03_molecules/_header-document.scss */
  .header--document { width: 23.94366%; float: left; margin-right: -100%; margin-left: 0%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:before, .header--document:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:after { clear: both; } }
@media (min-width: 80em) { /* line 1, ../scss/03_molecules/_header-document.scss */
  .header--document { width: 19.10112%; float: left; margin-right: -100%; margin-left: 0%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:before, .header--document:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:after { clear: both; } }
@media (min-width: 93.75em) { /* line 1, ../scss/03_molecules/_header-document.scss */
  .header--document { width: 21.49533%; float: left; margin-right: -100%; margin-left: 0%; clear: none; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:before, .header--document:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  .header--document:after { clear: both; } }

/* line 26, ../scss/03_molecules/_header-document.scss */
.mobile .header--document { display: none; }

/* line 1, ../scss/03_molecules/_main.scss */
.main { padding: 0 2%; }
@media (min-width: 48em) { /* line 1, ../scss/03_molecules/_main.scss */
  .main { padding: 0; } }

/* line 1, ../scss/03_molecules/_meta-authors-date.scss */
.meta--author-date { font-family: "Vollkorn", "Georgia", Cambria, Times New Roman, Times, serif; }

/* line 2, ../scss/03_molecules/_meta-related.scss */
.meta--related h5, .meta--related a { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; font-size: 13.6px; line-height: 1; margin: 0; }
/* line 8, ../scss/03_molecules/_meta-related.scss */
.meta--related h5 { text-transform: none; font-weight: 600; font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* line 12, ../scss/03_molecules/_meta-related.scss */
.meta--related h5:after { content: ":"; margin: 0 5px 0 0; }

/* line 5, ../scss/03_molecules/_nav-footer.scss */
.nav--footer ul li a { color: #aaaaaa; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--footer ul li a:visited { color: #aaaaaa; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--footer ul li a:focus { color: #aaaaaa; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--footer ul li a:hover { color: #aaaaaa; }
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--footer ul li a:active { color: #aaaaaa; }
/* line 8, ../scss/03_molecules/_nav-footer.scss */
.nav--footer ul li:after { color: #aaaaaa; }
/* line 11, ../scss/03_molecules/_nav-footer.scss */
.nav--footer ul li ul { display: none; }

/* line 2, ../scss/03_molecules/_nav-recent-posts.scss */
.nav--recent-posts a { color: black; display: block; padding: 10px; border-top: 1px solid #4d4d4d; border-bottom: none; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--recent-posts a:visited { color: black; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--recent-posts a:focus { color: black; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--recent-posts a:hover { color: black; }
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav--recent-posts a:active { color: black; }
/* line 8, ../scss/03_molecules/_nav-recent-posts.scss */
.nav--recent-posts a:hover, .nav--recent-posts a.current { -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5) inset; background-color: #f0a541; }
/* line 12, ../scss/03_molecules/_nav-recent-posts.scss */
.nav--recent-posts a time { display: block; font-size: 12px; margin-top: 5px; }
