.nav--recent-posts{
  a {
    @include link-colors($black, $black, $black, $black, $black);
    display: block;
    padding: $margin;
    &:hover {
      background-color: $pale-gray;
    }
    &.current {
      background-color: darken($sidebar-color, 10%);
      color: $pale-gray;
    }
    time {
      display: block;
      font-size: $smaller;
      margin-top: $margin / 2;
    }
  }
}