/* Breakpoints */
$seed: 320px / 16px * 1em;
$seedling: 480px / 16px * 1em;
$sprout: 600px / 16px * 1em;
$sapling: 768px / 16px * 1em;
$bush: 1080px / 16px * 1em;
$tree: 1280px / 16px * 1em;
$sequoia: 1500px / 16px * 1em;

/* Layout */
$page-width: 96%;
$margin: 10px;

/* Typography */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Vollkorn:400);

$vollkorn: "Vollkorn", "Georgia", Cambria, Times New Roman, Times, serif;
$sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$ratio: major-third();
$base-size: 16px;
$class-slug: ms;

$regular: ms(0);
$small: ms(0) * 0.85;
$smaller: ms(0) * 0.75;
$large: ms(0) * 1.15;
$larger: ms(0) * 1.25;

$weight-normal: 400;
$weight-bold: 600;

/* Colors */
$black: #000000;
$dark-gray: #4d4d4d;
$light-gray: #aaaaaa;
$lightest-gray: #cccccc;
$pale-gray: #eaeaea;

$light-blue: #8CBEB2;
$light-yellow: #F2EBBF;
$light-orange: #F3B562;
$light-red: #F06060;

$dark-blue: darken($light-blue, 5%);
$dark-yellow: darken($light-yellow, 5%);
$dark-orange: darken($light-orange, 7%);
$dark-red: darken($light-red, 5%);

$sidebar-color: $light-orange;